In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
folder_path = r"D:\2.ProjectWork\1.TEX\25TEX_006\25TEX_006_P05\New folder"
dest_folder = r"D:\2.ProjectWork\1.TEX\25TEX_006\25TEX_006_P05\New folder_2"
file_detials = os.listdir(folder_path)
for file in file_detials:
     file_path = os.path.join(folder_path,file)
     df = pd.read_excel(file_path)
     df["F1"] = df["F1"]
     df_new = df.set_index("F1")
     df_list = []
     for i in range(len(df["F1"])-1):
         a = df["F1"][i]
         b = df["F1"][i+1]
         d = np.arange(a,b,1)
         df_list.append(d)

     flat_1 = np.concatenate(df_list).tolist() 

     df_1_flat = pd.DataFrame(flat_1,columns=["F1"])
     df_1_flat_new = df_1_flat.set_index("F1")



     all_df= df_1_flat_new.join(df_new)
     all_df_new = all_df.interpolate("linear")
     all_df_new = all_df_new.reset_index()

     dest_file = os.path.join(dest_folder,file)
     all_df_new.to_excel(dest_file)

In [3]:
# path = r"D:\2.ProjectWork\1.TEX\25TEX_006\25TEX_006_P05\25TEX_006_P05_02\25TEX_006_P05_02_T1\25TEX_006_P05_02_T1_002.xlsx"
# df = pd.read_excel(path)
# # df = df.iloc[319:].reset_index()
# df["F1"] = df["F1"]
# df_new = df.set_index("F1")
# df_list = []
# for i in range(len(df["F1"])-1):
#     a = df["F1"][i]
#     b = df["F1"][i+1]
#     d = np.arange(a,b,1)
#     df_list.append(d)

# flat_1 = np.concatenate(df_list).tolist() 

# df_1_flat = pd.DataFrame(flat_1,columns=["F1"])
# df_1_flat_new = df_1_flat.set_index("F1")



# all_df= df_1_flat_new.join(df_new)
# all_df_new = all_df.interpolate("linear")
# all_df_new = all_df_new.reset_index()
# all_df_new
# all_df_new.to_excel(r"D:\2.ProjectWork\1.TEX\25TEX_006\25TEX_006_P05\25TEX_006_P05_02\25TEX_006_P05_02_T1\25TEX_006_P05_02_T1_002_1.xlsx")

In [4]:
df

,F1,X1,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16
0,100.06,-0.250,22.118,22.038,22.127,22.038,22.392,22.414,22.285,22.607,23.115,22.396,22.539,22.320,22.489,23.297,22.004,22.000
1,200.12,-0.192,22.283,22.108,22.284,22.109,22.579,22.613,22.497,23.100,23.730,22.566,22.821,22.590,22.878,24.012,22.012,22.016
2,300.18,-0.146,22.453,22.200,22.438,22.202,22.718,22.750,22.668,23.526,24.214,22.701,23.035,22.829,23.231,24.575,22.025,22.033
3,400.24,-0.110,22.617,22.303,22.582,22.306,22.839,22.854,22.811,23.899,24.647,22.822,23.209,23.046,23.551,25.079,22.042,22.049
4,500.29,-0.176,22.771,22.411,22.716,22.415,22.945,22.939,22.937,24.230,25.050,22.933,23.355,23.245,23.842,25.547,22.063,22.066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,30118.00,0.266,29.476,28.869,29.174,28.878,29.360,28.341,29.256,32.036,37.520,29.677,29.187,30.837,32.910,39.271,27.477,26.918
301,30218.00,0.266,29.495,28.888,29.193,28.898,29.378,28.358,29.274,32.059,37.548,29.696,29.205,30.858,32.934,39.301,27.494,26.934
302,30318.00,0.263,29.514,28.907,29.212,28.917,29.396,28.374,29.292,32.081,37.575,29.714,29.222,30.878,32.958,39.330,27.511,26.951
303,30418.00,0.267,29.532,28.925,29.230,28.935,29.413,28.388,29.308,32.102,37.601,29.731,29.238,30.897,32.981,39.358,27.527,26.967
304,30518.00,0.267,29.554,28.946,29.251,28.956,29.434,28.409,29.330,32.123,37.632,29.753,29.258,30.920,33.004,39.390,27.547,26.984